@import "vars.less";
#navbar-top{
    .navbar-brand{
        color:#777;
    }
    .soci-options {
        .soci-img{
            float:left;
            width:50px;
        }
        .soci-name{
            display: none;
            float:left;
            @media @media-laptop{
                
                display:block;
            }
        }
    }
    button{
        display:inline;cursor:pointer;
    }
    
}